
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="font-family:Arial;font-size:x-large;background-color:cadetblue;color:white">
        Hello Learner !! This is MVC Website Demo
    </div>

</body>
</html>
